@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
p,
span,
a,
li,
button {
  font-family: 'Roboto', sans-serif;
}

:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: black;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* smooth transition */
}
