@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
p,
span,
a,
li,
button {
  font-family: 'Roboto', sans-serif;
}

:root {
  --bg-color: white;
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #f0f0f0;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.animating .cart-icon {
  transform: translateX(120%); /* Move toward center */
  opacity: 0;
}

.animating .btn-text {
  opacity: 0;
}

.animating .tick-icon {
  opacity: 1;
  transform: scale(1.2);
  left: 50%;
  transform: translateX(-50%) scale(1.2);
  transition-delay: 0.2s;
}
