/* Banner background with overlay */
.bannerBg {
  background:
    linear-gradient(rgba(0, 0, 0, 0.534), rgba(41, 40, 40, 0.534)),
    url("../../assets/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% center;
}
@media screen and (max-width: 1024px) {
  .bannerBg {
    background-position: center;
  }
}
